<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>PLANTHAUS</h2>
    <h3><%= @user.username %>'s Plant Collection</h3>

    <div class="content">
      <!-- Add iteration to display collection
      Add Navigation to create new plant -->
      <a href="/logout">Logout</a>
    </div>

  </div>
</div>
