<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>PLANTHAUS</h2>
    <h3><%= @user.username %>'s Plant Family</h3>
    <% if @user.plants.size == 1 %>
      <p>You have 1 plant in your family.</p><br/>
    <% else %>
      <p>You have <%= @user.plants.size %> plants in your family.</p><br/>
    <% end %>
    <div class="content">
      <ul>
      <% @user.plants.all.each do |plant| %>
        <li>&#8277; <a href="/plants/<%=plant.id%>"><%= plant.name %></a></li><br/>
      <% end %>
      </ul>
      <br/>
      <a href="/plants/new">Add A New Plant</a><br/>
      <a href="/logout">Logout</a>
    </div>
    <nav>

    </nav>

  </div>
</div>
