<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>PLANTHAUS</h2>
    <h3>New Plant</h3>

    <div class="content">
      <form action="/plants" method="POST">
        <p>Plant name: <input type="text" name="name"></p>
        <p>Type: <input type="text" name="name"></p>
        <p>Light requirements: <input type="text" name="light_requirement"></p>
        <p>Water requirements: <input type="text" name="water_requirement"></p>
        <p>Notes : <input type="text" name="notes"></p>
        <input type="submit" value="Add Plant">
      </form>
      <br/>
      <a href="/logout">Logout</a>
    </div>

  </div>
</div>
